[build]
  command = ""
  publish = "."
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  conditions = {Role = ["public"]}

[dev]
  command = ""
  port = 8888
  targetPort = 8888
  autoLaunch = false

[functions]
  node_bundler = "esbuild"
